LOCATE COMP "clk" SITE "A10";
#LOCATE COMP "mainclk" SITE "B11";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
LOCATE COMP "uart_txd" SITE "C15";
LOCATE COMP "uart_rxd" SITE "B15";
IOBUF PORT "uart_txd" IO_TYPE=LVCMOS33;
IOBUF PORT "uart_rxd" IO_TYPE=LVCMOS33;

