LOCATE COMP "clk" SITE "A10";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
LOCATE COMP "uart_txd" SITE "B15";
LOCATE COMP "uart_rxd" SITE "C15";
LOCATE COMP "jtag_tdo" SITE "B20";
LOCATE COMP "jtag_tdi" SITE "E11";
LOCATE COMP "jtag_tck" SITE "C12";
LOCATE COMP "jtag_tms" SITE "E12";
IOBUF PORT "uart_txd" IO_TYPE=LVCMOS33;
IOBUF PORT "uart_rxd" IO_TYPE=LVCMOS33;
IOBUF PORT "jtag_tdo" IO_TYPE=LVCMOS33;
IOBUF PORT "jtag_tdi" IO_TYPE=LVCMOS33;
IOBUF PORT "jtag_tck" IO_TYPE=LVCMOS33;
IOBUF PORT "jtag_tms" IO_TYPE=LVCMOS33;

