LOCATE COMP "clk" SITE "A10";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
LOCATE COMP "uart_txd" SITE "B15";
LOCATE COMP "uart_rxd" SITE "C15";
LOCATE COMP "jtag_tdo" SITE "B20";
LOCATE COMP "jtag_tdi" SITE "E11";
LOCATE COMP "jtag_tck" SITE "C12";
LOCATE COMP "jtag_tms" SITE "E12";
LOCATE COMP "spi_sclk" SITE "B13";
LOCATE COMP "spi_mosi" SITE "D11";
LOCATE COMP "spi_miso_write" SITE "B12";
LOCATE COMP "spi_miso_writeEnable" SITE "E7";
LOCATE COMP "spi_ss" SITE "D12";
IOBUF PORT "spi_sclk" IO_TYPE=LVCMOS33;
IOBUF PORT "spi_mosi" IO_TYPE=LVCMOS33;
IOBUF PORT "spi_miso_write" IO_TYPE=LVCMOS33;
IOBUF PORT "spi_miso_writeEnable" IO_TYPE=LVCMOS33;
IOBUF PORT "spi_miso_ss" IO_TYPE=LVCMOS33;
IOBUF PORT "uart_txd" IO_TYPE=LVCMOS33;
IOBUF PORT "uart_rxd" IO_TYPE=LVCMOS33;
IOBUF PORT "jtag_tdo" IO_TYPE=LVCMOS33;
IOBUF PORT "jtag_tdi" IO_TYPE=LVCMOS33;
IOBUF PORT "jtag_tck" IO_TYPE=LVCMOS33;
IOBUF PORT "jtag_tms" IO_TYPE=LVCMOS33;

